:root {
    --theme-primary: #1d808b;
    --theme-bg: white;
    --bs-light-rgb: var(--theme-bg); 
    --bs-dark-rgb: var(--theme-bg); 
    --bs-link-hover-color: var(--theme-primary); 
    --bs-link-color: var(--theme-primary); 
}
.navbar {
    --bs-navbar-padding-y: 1rem 0;
}
.navbar-logo {
    background: transparent url(/assets/canadiana-tag-color.svg) no-repeat top left;
}
.btn-primary {
    --bs-btn-bg: var(--theme-primary);
    --bs-btn-border-color: var(--theme-primary);
    --bs-btn-hover-bg: var(--theme-primary);
    --bs-btn-hover-border-color: var(--theme-primary);
    --bs-btn-active-bg: var(--theme-primary);
    --bs-btn-active-border-color: var(--theme-primary);
    --bs-btn-disabled-bg: var(--theme-primary);
    --bs-btn-disabled-border-color: var(--theme-primary);
}
.sidenav {
    --bl-facet-active-bg: var(--theme-primary); 
    --bl-facet-active-item-color: var(--theme-primary); 
    //--bl-facet-remove-color: var(--bs-secondary-color);
    //--bl-facets-smallish-border: var(--bs-border-width) solid var(--bs-border-color);
}
.pagination {
    --bs-pagination-active-bg: var(--theme-primary);
    --bs-pagination-active-border-color: var(--theme-primary);
}
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 90%;
}
@media (min-width: 1700px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 16%;
    }
}
@media (max-width: 992px) {
    .search-query-form {
        width: 100%;
    }
}