#my-mirador > .fullscreen > div {
    position: initial !important;
    width: 100% !important;
    height: 80vh !important;
    background: white !important;
}

.mirador-window-top-bar {
    min-height: 0 !important;
    border-top: none !important;
}

.mosaic-window {
    border-radius: 7px !important;
    border: 3px solid #EEE !important;
}