#my-mirador > .fullscreen > div {
    position: initial !important;
    width: 100% !important;
    height: 80vh !important;
    background: white !important;
}

.mirador-window-top-bar {
    min-height: 0 !important;
}