#my-mirador > .fullscreen > div {
    position: initial !important;
    width: 100% !important;
    height: 90vh !important;
    min-height: 600px;
    background: white !important;
}
.mirador-window-top-bar {
    min-height: 3.5rem !important;
    border-top: none !important;
}
.mosaic-window {
    border-radius: 7px !important;
    border: 3px solid #EEE !important;
}
@media screen and (max-width: 990px) {
    .mosaic-window-body .mosaic-root div:first-child {
        inset: 0% 0% 0% 0% !important;
    }
    .mosaic-window-body .mosaic-root > div:nth-child(2), .mosaic-window-body .mosaic-root > div:nth-child(3) {
        display: none !important;
    }
}