.facet-values li {
    padding: 10px 0px;
}
ul.document-metadata {
    list-style-type: none;
}
.document-title-heading {
    max-width: 755px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@media (min-width: 1700px) {
    .document-title-heading {
        max-width: 1260px;
    }
}