<footer class="mt-auto bg-dark text-white">
    <div class="container-fluid">
        <div class="row py-3 small">
            <p class="col-lg text-lg-left">
            <a href="http://www.canadiana.ca/?usrlang=en">
                <img src="/assets/canadiana-logo-inverted.svg" alt="Canadiana" height="50">
            </a>
            </p>
            <p class="col-lg-5 text-center">
            <a href="http://www.canadiana.ca/terms">Conditions de service</a>
            <br>
            Conditions de service
            © 2025 Réseau canadien de documentation pour la recherche 
            <a href="https://www.crkn-rcdr.ca/fr/nous-joindre">
                <img src="/assets/phone.svg" alt="Nous Joindre">
            </a>
            </p>
            <p class="col-lg text-lg-right">
            <a href="https://www.crkn-rcdr.ca/fr" class="d-inline-block">
                <img src="/assets/crkn-logo-inverted.svg" alt="Réseau canadien de documentation pour la recherche" height="50">
            </a>
            <a href="https://www.cndhi-ipnpc.ca/fr" style="margin-left: 1rem;" class="d-inline-block ml-3">
                <img src="/assets/cndhi-logo-inverted.svg" alt="IPNPC : L’Index des projets de numérisation du patrimoine canadien" height="50">
            </a>
            </p>
        </div>
    </div>
</footer>
