<section class="site-section">
  <div class="container">
    <h1 class="section-title">Publications gouvernementales</h1>
    <div class="d-flex flex-wrap gap-2 mb-3">
      <a class="btn btn-soft-primary btn-sm" href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Government%20Publications+%7C+Publications%20gouvernementales&q=&search_field=all_fields">
        <i class="bi bi-search" aria-hidden="true"></i>
        Recherche dans cette collection
      </a>
    </div>

    <p class="lead">La collection des publications gouvernementales d’avant 1900 contient plus de 1,7 million de pages de documents officiels et historiques de l’époque coloniale, ainsi que des gouvernements provinciaux et fédéral.</p>
    <p>Cette collection comprend des lois et des projets de loi, des rapports de comités, des règles de tribunaux, des débats, des journaux et des ordonnances, ainsi qu’une sélection de publications officielles publiées en France et en Grande‑Bretagne, des documents de la session, des règlements, des rapports de commissions royales, des listes électorales et des traités.</p>
    <p><strong>Taille :</strong> 8 500 monographies; 79 titres de publications en série comprenant 2 635 numéros</p>
    <p><strong>Critères de sélection :</strong> Les publications gouvernementales sont le fruit du projet des anciennes publications officielles dont les paramètres ont été fixés par le Comité consultatif sur les publications gouvernementales. Les publications des gouvernements municipaux, ainsi que celles des gouvernements provinciaux d’après la Confédération sont exclues de cette collection.</p>

    <h3 class="h6 mt-3">Points forts de la collection</h3>
    <ul>
      <li>Une sélection de publications officielles d’avant la Confédération produites par les assemblées législatives sous le régime colonial (lois, débats parlementaires, journaux législatifs, documents de la session)</li>
      <li>Une sélection de documents officiels du gouvernement fédéral publiés entre 1867 et 1900 (lois, débats et journaux parlementaires, rapports de commissions royales, documents de la session)</li>
      <li>Des publications de la France et de la Grande‑Bretagne publiées avant 1900 et relatives à la gouvernance du Canada (traités, lois et projets de loi, correspondance, documents et rapports du Parlement britannique)</li>
      <li>Listes de la fonction publique, 1885‑1900</li>
      <li>Guides officiels d’avant 1900 destinés aux immigrants</li>
      <li>Sélection de discours de personnalités politiques (p. ex. John A. Macdonald, Joseph Howe, Charles Tupper, Henri Bourassa)</li>
    </ul>
  </div>
</section>
