<section class="site-section">
  <div class="container">
    <h1 class="section-title">Cartes</h1>
    <div class="d-flex flex-wrap gap-2 mb-3">
      <a class="btn btn-soft-primary btn-sm" href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Maps+%7C+Cartes&q=&search_field=all_fields">
        <i class="bi bi-search" aria-hidden="true"></i>
        Recherche dans cette collection
      </a>
      <a class="btn btn-ghost-primary btn-sm" href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Maps+%7C+Cartes">Tout parcourir</a>
    </div>

    <p class="lead">La collection de cartes contient actuellement près de 24 000 cartes canadiennes numérisées à partir de la Série nationale de référence cartographique à l’échelle 1:50 000. Les cartes datent de 1905 à 2012 et couvrent l’ensemble des provinces et territoires canadiens.</p>
    <p>Elles décrivent en détail le relief du sol (topographie et terrain), le système de drainage (lacs et rivières), la couverture forestière, les zones administratives, les zones peuplées, les voies et installations de transport (y compris les routes et les chemins de fer) et d’autres éléments anthropiques comme les bâtiments, les lignes électriques et les barrages. La collection comprend des cartes en couleurs et en niveaux de gris.</p>
    <p>Les cartes ont été numérisées par la bibliothèque de l’Université McGill et sont présentées ici grâce à un partenariat entre la bibliothèque de l’Université McGill et le RCDR. Certaines parties de la collection à l’échelle 1:50 000 sont également disponibles par l’entremise du Scholars GeoPortal et de Borealis, où les cartes ont été géoréférencées pour créer des ensembles de données géospatiales ouverts à la recherche, avec le soutien financier des bibliothèques de l’Université de Toronto, des bibliothèques de l’Université McGill et de Compute Ontario.</p>

    <p><strong>Taille :</strong> Environ 24 000 cartes</p>
    <p><strong>Critères de sélection :</strong> La collection contient actuellement des cartes de la Série nationale de référence cartographique à l’échelle 1:50 000. La collection n’est pas complète à 100 % et les lacunes seront comblées au fur et à mesure. Des cartes d’autres séries pourraient être ajoutées à l’avenir.</p>

    <h3 class="h6 mt-3">Contenu</h3>
    <p>Cartes de la Série nationale de référence topographique à l’échelle 1:50 000, couvrant les années 1905 à 2012 et représentant l’ensemble des provinces et territoires canadiens.</p>
  </div>
</section>
