<section class="site-section">
  <div class="container">
    <h1 class="section-title">Publications en série : périodiques, publications annuelles et journaux</h1>
    <div class="d-flex flex-wrap gap-2 mb-3">
      <a class="btn btn-soft-primary btn-sm" href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Serials+%7C+Publications+en+se%CC%81rie&q=&search_field=all_fields">
        <i class="bi bi-search" aria-hidden="true"></i>
        Recherche dans cette collection
      </a>
    </div>

    <p class="lead">La collection des publications en série englobe un large éventail de quotidiens, d’hebdomadaires, de revues spécialisées et de magazines grand public, ainsi que des annuaires de villes et des rapports annuels d’églises, d’écoles et de sociétés.</p>
    <p>Les publications spécialisées comprennent des revues commerciales et industrielles, de même que de nombreux magazines populaires destinés à divers publics : hommes, femmes, étudiants, enfants et communautés ethnolinguistiques. Ces anciens périodiques constituent une source d’information inestimable pour les chercheurs dans tous les domaines, car ils permettent de suivre le développement des idéologies et des opinions sur une foule de questions. Les revues abondamment illustrées ouvrent une fenêtre captivante sur la vie socio‑culturelle du Canada d’autrefois par l’entremise de leurs articles, leurs réclames, leurs bandes dessinées, leurs gravures et leurs photographies.</p>
    <p><strong>Taille :</strong> 1 700 titres de périodiques comprenant 95 000 numéros; 255 titres de publications annuelles comprenant 1 100 numéros; 330 titres de journaux sur 2 000 bobines de microfilm.</p>
    <p><strong>Critères de sélection :</strong> Les publications annuelles jusqu’en 1900, les périodiques jusqu’en 1920 et les journaux jusqu’en 1930. La sous‑série des périodiques est issue du projet des anciens périodiques canadiens, en collaboration avec un comité consultatif pour définir les paramètres et les priorités de numérisation.</p>

    <h3 class="h6 mt-3">Points forts de la collection</h3>
    <ul>
      <li>Toutes les publications annuelles et les périodiques microfilmés par l’ICMH</li>
      <li>Tous les périodiques disponibles sur Notre mémoire en ligne (NML)</li>
      <li>Des publications en série récemment ajoutées et absentes de NML et de la collection de microfiches de l’ICMH</li>
      <li>Magazines et journaux locaux, spécialisés, religieux et étudiants</li>
      <li>Annuaires de villes et rapports annuels (églises, écoles, entreprises et autres organisations)</li>
      <li>Périodiques spécialisés sur un vaste choix de sujets : littérature, médecine, science et technologie, éducation, agriculture, affaires, loisirs et sports, politique, religion, histoire, droit, vie militaire, musique, généalogie, livres et édition, économie, mode, philatélie, photographie, humour, psychologie, transports, etc.</li>
    </ul>
  </div>
</section>
